<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
    <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
    <property name="hibernate.connection.url">jdbc:mysql://localhost:3307/gymm?charSet=LATIN1</property>
    <property name="hibernate.connection.username">root</property>
    <property name="hibernate.connection.password">root</property>
    <property name="hibernate.hbm2ddl.auto">update</property>
    <property name="hibernate.show_sql">true</property>
    <mapping class="br.com.entity.Aluno"/>
    <mapping class="br.com.entity.Avaliacao"/>
    <mapping class="br.com.entity.Exercicio"/>
    <mapping class="br.com.entity.Ficha"/>
    <mapping class="br.com.entity.Funcionario"/>
    <mapping class="br.com.entity.ItemFicha"/>
    <mapping class="br.com.entity.Pagamento"/>
  </session-factory>
</hibernate-configuration>
